[app]
name = "mps-voting"
description = "MPS Elections 2026 - PHP Voting Application"

[runtime]
name = "php"
version = "8.2"

[env]
DATABASE_HOST="mysql.internal"
DATABASE_USER="mps_voting"
DATABASE_NAME="mps_voting"

[services.mysql]
type="mysql"
version="8.4"

[[databases]]
name="mysql"
service="mysql"
env_prefix="DATABASE"


