body {
    background: linear-gradient(135deg, #0f172a, #1e3a8a);
    color: white;
    font-family: "Segoe UI", sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.subtitle {
    opacity: 0.85;
    margin-bottom: 20px;
}

.camera-box {
    position: relative;
    width: 420px;
    height: 320px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* GARIS WAJAH */
.face-frame {
    position: absolute;
    inset: 40px 90px;
    border: 3px solid #facc15;
    border-radius: 50%;
    pointer-events: none;
}

/* STATUS */
#status {
    margin-top: 18px;
    font-weight: 600;
}

.blur-overlay {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(8px);
    mask-image: radial-gradient(
        ellipse at center,
        transparent 35%,
        black 40%
    );
    pointer-events: none;
}
